@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(253, 111, 135);
    padding: 5rem;
    overflow-x: hidden;
}

p {
   color: #fff;
}

.container {
    background-color: rgb(253, 159, 175);
    width: 100%;
    border-radius: 1rem;
}

.title {
    font-family: "Poetsen One", sans-serif;
    font-size: 5em;
    color: white;
}

.box1 {
   display: flex;
   align-items: center;
   padding: 1em;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
    margin: 2rem;
    line-height: 3rem;
    border: 10px double pink;
    border-radius: 1rem;
}

.carta > article {
    font-family: "Poetsen One", sans-serif;
    color:aliceblue;
    text-shadow: 1px 2px 2px black;
    font-size: 24px;
}

p {
    margin: 3rem;
}

.autor {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 720px) {
    .container > .box1 > img {
        width: 200px
    }
}